* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #41431b;
}
.container {
  background-color: #aeb784;
  border-radius: 1rem;
  min-height: 45vh;
  min-width: 40vh;
  padding: 2rem;
}
form {
  margin: 2rem 0 2rem 0;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
form {
  margin: 2rem 0 2rem 0;
}
form input,
select,
button {
  border: none;
  outline: none;
  background-color: #f8f3e1;
  width: 100%;
  border-radius: 0.75rem;
}
.amount p {
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 300;
}
